body {
	background: #1f4a6c;
	font-family: 'Oswald', 'Futura', sans-serif;
}
#wrapper {
	margin-top: 10% !important;
}
#content {
	background: #05ff0d;
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(13, 83, 32, 0.3);
}
footer {
	margin-top: 20px;
	color: #699742;
}
#add-btn {
	background-color:green;
	border-color: #ffffff;
}
